<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.3.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.10.10" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.10.56" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.5.4074" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VsSDK.CompatibilityAnalyzer" version="17.5.4074" targetFramework="net48" developmentDependency="true" />
  <package id="TemplateBuilder" version="1.1.6.1" targetFramework="net472" />
</packages>